# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Env and IDE
.env
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
